@import url('../public/css/button.css');
@import url('../public/css/nunito.css');
#content{
    width: 400px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 0;
    height: 220px;
    box-sizing: border-box;
    font-family: "Nunito";
}
.flex , .numbers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.numbers{
    width: 300px;
    margin:0 auto;
}
.teste{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 250px;
}
.grid{
    display: grid;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto; */
    grid-template-areas: 'txt txt' 'img img' 'show show' 'button button';
}
.txt{
    margin: auto;
    font-family: 'Nunito';
    font-size: 30px;
}
.img{
    margin: auto;
}
#jogada{
    width: max-content;
    font-size: 34px;
    font-weight: 600;
    margin: auto;
}
#escolhas{
    width: 300px;
    margin: 15px auto 0;
}
#result{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#fase2{
    text-align: center;
}
.fs30{
    font-size: 30px;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid black;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.circle:hover{
    background-color: #ddd;
}
.circle:focus{
    outline: none;
}
.number{
    border: 1px solid gray;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.number:hover{
    background-color: #EEE;
}
.up{
    animation: up ;
}
.dur1{
    animation-duration: 1s;
}
.dur05{
    animation-duration: 0.5s;
}
.show{
    animation: show 2s;
    margin: auto;
    width: max-content;
    grid-area: show;
    animation-delay: 3s;
    font-family: 'Nunito';
    font-size: 30px;
}
.hidden{
    visibility: hidden;
}
@keyframes up {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes show{
    from{opacity: 0;}
    to{opacity: 1;}
}