@import url('../public/css/button.css');
@import url('../public/css/nunito.css');

/*Tags*/
body{
    margin: 25px 0 0 0;
    padding: 0;
}
section{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin: auto;
    width: 255px;
    box-sizing: border-box;
}

/*Ids*/
#content{
    width: 154px;
    height: 154px;
    margin: 10px auto;
}
#game{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: black;
    grid-gap: 2px;
}
#config{
    font-family: 'Nunito';
    font-size: 14px;
    margin: auto;
    width: max-content;
}
#placar{ font-size: 35px; }
#msg{
    font-size: 25px;
    text-align: center;
}
#placar,#msg{
    font-family: 'Nunito';
    margin: auto;
    width: max-content;
}

/*Classes*/
.square{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img{
    margin: auto;
    width: max-content;
}
.showx{ animation: showx 1.5s; }
.showo{ animation: showo 4s; }

/*Animações*/
@keyframes showx{
    from{ opacity: 0; }
    to{ opacity: 1; }
}
@keyframes showo{
    0%{ opacity: 0; }
    50%{ opacity: 0; }
    100%{ opacity: 1; }
}