#content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: black;
    grid-gap: 2px;
    width: 154px;
    height: 154px;
    margin: 10px auto;
}
#placar{
    font-size: 35px;
}
#msg{
    font-size: 25px;
}
#placar,#msg{
    font-family: 'Nunito';
    margin: auto;
    width: max-content;
}
.square{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img{
    margin: auto;
    width: max-content;
}
.showx{
    animation: showx 1.5s;
}
.showo{
    animation: showo 4s;
}
@font-face{
    font-family: 'Nunito';
    src: url('fontes/Nunito-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@keyframes showx{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes showo{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}